<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
    <label for="">City: <input type="text" name="city">
    <label for="">State Code: <input type="text" name="statecode">  
    <label for="">Country Code: <input type="text" name="countrycode">  
    <label for="">How many number of events would you want to be listed?: <input type="number" name="How many number of events would you want to be listed?">  
    </label>
    <button>Check Weather and Events
    </button>
    </form>
</body>
</html>