<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    p {text-align: center;}
    div {text-align: center;}
</style>
</head>
<body>
    <form action="" method="post">
        <p><label for=""><strong>City:</strong><input type="text" name="city"></p> 
        <p><label for=""><strong>State Code:</strong><input type="text" name="statecode"></p>
        <p><label for=""><strong>Country Code:</strong><input type="text" name="countrycode"></p>
        <p><label for=""><strong>How many number of events would you want to be listed?:</strong><input type="number" name="How many number of events would you want to be listed?"></p>
        </label>
        <p><button><strong>Check Weather and Events</strong></p>
        
        </button>
        </form>
<style>
        body {
  background-image: url('https://res.allmacwallpaper.com/get/Retina-MacBook-Pro-15-inch-wallpapers/New-York-City-Building-2880x1800/12942-8.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</html>